
/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.centratura{
    width: 80%;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Regole Nav */
nav{
    background-color: grey;
}

.navbar{
    height: 80px;
}

nav .logo > img{
    width: 200px;
}

.navbar li{
    display: inline-block;
    margin: 0 3px;
    font-size: 15px;
}

.hamburger{
    display: none;
    font-size: 20px;
}

@media all and (max-width: 991px) {
    .centratura{
        width: 95%;
    }

    .dropdown_vanish{
        display: none;
    }

    .hamburger{
        display: block;
    }
}

/* JUMBOTRON */

.jumbotron{
    height: 500px;
    background-image: url(../img/jumbo.svg);
    background-size: contain;
}

.jumbotron .container{
    height: 100%;
}

.testo_jumbo{
    color: white;
    flex-basis: 60%;
    background-color: yellow;
}

.form_jumbo{
    height: 200px;
    flex-basis: 30%;
    background-color: white;
}

@media all and (max-width: 768px) {
    .jumbotron .container{
        flex-wrap: wrap;
    }

    .testo_jumbo, .form_jumbo{
    flex-basis: 100%;
    }

}
